* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #434343;
}
h1 {
  color: #e50914;
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  font-size: 40px;
  color: red;
  margin-bottom: 20px;
}
header {
  background-color: #000;
  height: 70px;
}
.header_wrapper {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}
.search-bar input {
  padding: 2px;
  font-family: 'Roboto', sans-serif;
}
.search-bar button {
  padding: 2px;
  font-family: 'Roboto', sans-serif;
}


.main_wrapper {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
#movies-list {
  margin-bottom: 50px;
}
.filter {
  display: none;
  margin: 20px 0;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.media {
  width: 344px;
  height: 515px;
  margin: 0 20px 20px;
  position: relative;
  border: 1px solid #fff;
}
.media > img {
  width: 100%;
  height: 100%;
}
.media .description_layover {
  background-color: #000;
  color: #fff;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;
  font-size: 14px;
  overflow: hidden;
}
.media:hover .description_layover {
  display: block;
}
.media .flag {
  height: 15px;
  vertical-align: middle;
}
.stars {
  color: gold;
}
