* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: auto;
}
.search-bar {
  margin: 20px 0;
}
#movies-list {
  border-top: 1px solid lightgrey;
}
.film {
  margin-top: 20px;
}
.stars {
  color: gold;
}
